/*
 the vstforx css capabilities are currently
 very limited:
   - only basic selectors: 'tag', '#', '." and '*'
   - no css rule priorities will be considered. If there are
     ambiguous rules for an element, the resulting style is more
     or less random.
*/

.corona-input {
    stroke:darkgrey;
    fill:none;
    fill-opacity:0.7;
    stroke-opacity:0.7;
}

.corona-output {
    stroke:darkgrey;
    fill:none;
    fill-opacity:0.7;
    stroke-opacity:0.7;
}

.node-inner {
    stroke:black;
    fill:black;
}

.core-input {
    stroke:black;
    fill:none;
}

.core-output {
    stroke:black;
    fill:black;
}

.processor {
    stroke:black;
    fill:none;
}

.core-display {
    fill: black;
    Stroke: black;
}


