/**
 * resources.rc
 *
 *  Created on: Mon Feb 24 11:26:52 2014
 *      Author: createResources.py
 */

100	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/cmlogo.png"
110	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/entry.png"
120	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/logo.png"
130	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/plugin.png"
140	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/e.png"
150	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/disco-floor.png"
160	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/midiReceiver.png"
170	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/volume_node.png"
180	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/folder.png"
190	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/adsr_trigger.png"
200	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/processor.png"
210	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/step_adapter.png"
220	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/channel_split.png"
230	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/exit.png"
240	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/knob.png"
250	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/bkgrey.png"
260	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/peak_tracker.png"
270	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/warning_icon.png"
280	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/plus.png"
290	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/hfolder.png"
300	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/iplug.png"
310	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/oSwitch.png"
320	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/vstPlugNode.png"
330	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/inf_icon.png"
340	SAMBAG_CUSTOM	"C:/workspace/VST/Apps/vstforx/src/images/remoteChReceiver.png"

