<?xml version='1.0' encoding='utf-8'?>
<widget id="frx.com.vstforxMobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VSTForxMobile</name>
    <description>
      The VSTForx Mobile Remote App
    </description>
    <author email="johannes.unger@vstforx.de" href="http://www.vstforx.de">
        Samba Godschynski
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
